<div style="background:#F7F7F7;height: 100vh;width:100vw;overflow-y: auto;
overflow-x: hidden;">
  <topmenu></topmenu>


  <div class="submenu">
    <div class="row">
      <div class="col-md-4">
        <button class="backBtn" (click)="back()" ><i class="icon-long-arrow-left"></i>&nbsp;Back</button>
        <span style="font-size: 18px;color:#FFFFFF;">Create Measure</span>
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-2">
        <button class="blueBtn" (click)="cancelBtn()" style="background-color: transparent;border-color: transparent;">Cancel</button>
        <button class="blueBtn" (click)="saveBtn()"><i class="icon-save"></i>&nbsp;Save</button>

      </div>
    </div>
  </div>

  <div class="col-md-12">
    <form [formGroup]="initiativeForm" autocomplete="off">
      <div class="col-md-6">
        <div class="col-md-12 card">

          <!-- TITLE  -->
            <ng-container *ngFor="let formElement of elementsList ; let i =index ">
              <cform title="{{formElement.title}}" formCName="{{formElement.cname}}" spread="{{formElement.spread}}" [parentForm]="initiativeForm" type="{{formElement.type}}"></cform>

            </ng-container>

      </div>

      </div>
      <div class="col-md-6">


          <div class="col-md-12  card">
            <!-- Responsible -->
            <ng-container *ngFor="let formElement of elementsList3 ; let i =index ">
              <cform title="{{formElement.title}}" formCName="{{formElement.cname}}" spread="{{formElement.spread}}" type="{{formElement.type}}"  [parentForm]="initiativeForm" [options]="formElement.options" ></cform>

            </ng-container>
          </div>


      </div>

      <div class="col-md-12">
        <div class="col-md-12  card">
            <!-- Group Data -->
            <div formArrayName="groupvalues">

              <div class="tablerow" *ngFor="let part of groupArr.controls;let i =index" [formGroupName]="i">
            <ng-container *ngFor="let formElement of elementList6 ; let i2 =index ">
              <!-- <cform title="{{formElement.title}}" formCName="{{formElement.cname}}" spread="{{formElement.spread}}" type="{{formElement.type}}"  [parentForm]="part" [options]="formElement.options"></cform> -->
              <div class="col-md-{{formElement.spread}}">
                <span class="form-label">{{formElement.title}}</span>

                 <br>
              <select [formControlName]="formElement.cname"  class="form-control" name="" id="g{{i2}}" (change)="populateNextLevel(i2,formElement.options)">
                <option disabled value="">Select a value</option>
                <option *ngFor="let option of formElement.options" value="{{option.id}}"  >{{option.name}}</option>
              </select>
            </div>
            </ng-container>
            </div>
            </div>

          </div>
      </div>

      <div class="col-md-12">
        <tabs>
          <tab tabTitle="IL Planning">
            <div class="col-md-12  card">
              <div formArrayName="ilstatus">
                <ng-container *ngFor="let part of statusArr.controls;let i =index" [formGroupName]="i">
                  <ng-container *ngFor="let formElement of elementsList5 ; let i =index ">
                    <cform title="{{formElement.title}}" formCName="{{formElement.cname}}" spread="{{formElement.spread}}" [parentForm]="part"  type="{{formElement.type}}"></cform>

                  </ng-container>
                </ng-container>

              </div>
              </div>
          </tab>
          <tab tabTitle="Potentials">
            <div class="col-md-12  card" style="margin-top:0px;">

              <table>
                <tr class="potential-row">
                  <th class="potential-column" style="text-align: center;"></th>
                  <th *ngFor="let marker of markerList;let mi = index" class="potential-column" style="text-align: center;">
                    <b><span *ngIf="mi == 0" >Baseline-</span>{{marker}}</b>

                  </th>

                </tr>
                <tr *ngFor="let potential of potentialList;let pl = index" class="potential-row">
                  <td class="data-td potential-column" style="text-align: right;">{{potential.title}}</td>
                  <td *ngFor="let marker of markerList;let ml = index" class="data-td potential-column">

                    <input class="calcinput {{'cipl'+pl+'ml'+ml}} form-control data-cell" formControlName="title" id="{{'pl'+potential.id+'ml'+ml}}"  *ngIf="potential.iscalculated !=1" type="number"
                     (input)="onValueEnter($event,pl,ml,potential.id)">
                    <input formControlName="title" id="{{'pl'+pl+'ml'+ml}}" *ngIf="potential.iscalculated ==1" type="number"
                      class="form-control data-cell {{'cipl'+pl+'ml'+ml}}" disabled>
                  </td>


                </tr>

              </table>



            </div>
          </tab>
          <tab tabTitle="Comments">
            <div class="col-md-12  card">

            </div>
          </tab>
          <tab tabTitle="Audit Trail">
            <div class="col-md-12  card">

            </div>
          </tab>
        </tabs>

      </div>

      <!-- <div class="col-md-12">
        Measures
        <br>

      </div> -->
    </form>
  </div>
</div>

