<div class="topMenu">
  <div class="">
    <div class="col-md-4">
      <img src="../../../assets/img/topicon.png" alt="" style="height: 40px;
      margin-top: 10px;
      margin-left: 50px;">
    </div>
    <div class="col-md-6">
      &nbsp;
      <!-- <div class="menu_title"  (click)="goToHome()">
      My Activities</div> -->
    </div>
    <div class="col-md-1">
      <div class="row" style="float: right;">
        <img class="imgContainer" src="../../../assets/img/settings.png" alt="" >
        <div class="profileContainer" >
          <span>W</span>
  
        </div>
      </div>
      
    </div>
    <div class="col-md-1">
      <button (click)="logout()" style="border: 1px solid #cfcfcf;
      height: 30px;
      width: 30px;
      float: left;
      margin-top: 20px;"><i class="fa fa-power-off" aria-hidden="true" ></i></button>
    </div>
  </div>
 </div>